#Excluding csv files
*.csv

#Excluding tsv files
*.tsv

#Excluding Rhistory files
*.Rhistory

#Excluding Rdata
*.Rdata

#Excluding Zipfile
*.gz

#Excluding Rdata
.Rproj.user/

#Excluding folders
/raw/
/tmp/
/gen/